body,
html {
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

/*BAG 1*/
nav.navbar {
    background-color: #f1f3ff;
    padding: 25px 130px 25px 125px;
    color: black;
    font-weight: 500;
}

.register-button {
    background-color: #5cb85f;
    font-size: 14px;
    padding: 0.5px 1px;
    border-radius: 4px;
    text-decoration: none;
    margin-left: 20px;
}

.register-button a {
    color: #fff;
}

.navbar-toggler {
    border: none;
    font-size: 14px;
}

.nav-link {
    position: relative;
}

.hero {
    background-color: #f1f3ff;
    padding: 70px 0 0 40px;
    align-items: flex-start;
}

.hero h1 {
    line-height: 150%;
    margin-top: -60px;
}

.hero p {
    padding-top: 15px;
    max-width: 460px;
    font-size: 14px;
}

.hero a {
    background-color: #5cb85f;
    font-size: 14px;
    padding: 10px 10px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 500;
    color: white;
}

.hero img {
    margin-top: -50px;
    height: 55vh;
}

@media only screen and (max-width: 360px) {
    .navbar.navbar-expand-lg {
        padding: 25px 0px 20px 10px;
    }

    .hero {
        padding: 20px 0 0 10px;
    }

    .hero h1 {
        line-height: 135%;
        font-size: 36px;
    }

    .hero p {
        padding-top: 15px;
        padding-bottom: 15px;
        max-width: 90%;
        font-size: 13px;
    }

    .hero img {
        height: 30vh;
        margin-top: 20px
    }

    div#offcanvasNavbar.offcanvas.offcanvas-end.show {
        width: 180px;
    }

    div.offcanvas-body.ms-auto {
        margin: 0 !important;
    }
    div.offcanvas-header {
        padding-bottom: 0px;
    }
    a.nav-link.mx-lg-2 {
        font-weight: 500;
        color: black;

    }
    .register-button {
        margin-top: 10px;
        margin-right: 35px;
        margin-left: 0px;

        padding-left: 20px;
    }
    a#registerbutton.nav-link.mx-lg-2 {
        color: white !important;
    }
}

/*BAG 2*/
.ourservices {
    margin-top: 110px;
    margin-left: 200px;
}

#service-img {
    width: 490px;
    margin-right: 150px;
}

.ourservices .col-md-7 {
    max-width: 578px;
    margin-left: 60px;
}

.ourservices h2 {
    margin-bottom: 30px;
}

.ourservices ul {
    list-style-type: none;
    line-height: 2.5;
    padding-left: 0;
}

.ourservices li {
    padding-bottom: 7px;
}

.ourservices img {
    padding-right: 20px;
}

@media only screen and (max-width: 360px) {
    .ourservices {
        margin-left: 0px;
        margin-top: 35px;
    }

    .ourservices div.row {
        justify-content: center;
        align-items: center;
        margin-left: 5px;
    }

    #service-img {
        width: 65vw;
        margin-bottom: 25px;
        margin-left: 30px;
    }

    .ourservices .col-md-7 {
        max-width: 100vw;
        margin-left: 0px;
    }

    .ourservices h2 {
        margin-bottom: 20px;
    }

    .ourservices p {
        font-size: 13px;
    }

    .ourservices ul {
        font-size: 13px;
    }
}

/*BAG 3*/
.whyus {
    margin-top: 100px;
    margin-left: 140px;
}

.whyus h1 {
    font-size: 24px;
    font-weight: 700;
}

.whyus div.text p {
    padding-top: 15px;
}

.whyus div.col-md-3 {
    border: 1px solid #d0d0d0;
    border-radius: 10px;
    width: 300px;
    margin: 20px 30px 20px 10px;
    padding: 32px 26px 12px 22px;
}

.whyus div.col-md-3 img {
    padding-left: 10px;
}

.whyus div.col-md-3 h3 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    padding-left: 10px;
}

.whyus div.col-md-3 p {
    line-height: 1.5;
    font-size: 15px;
    padding-left: 10px;
    padding-top: 10px;
}

@media only screen and (max-width: 360px) {
    .whyus {
        margin-top: 30px;
        margin-left: 0;
        text-align: center;
    }

    .whyus div.col-md-3 {
        margin-left: 45px;
        margin-bottom: 5px;
        text-align: left;
        padding: 20px 15px 10px 10px;
    }

    .whyus div.col-md-3 img {
        width: 40px;
    }

    /*BAG 4*/
    .testi {
        margin-top: 110px;
        text-align: center;
    }

    .testi h1 {
        font-size: 26px;
        font-weight: 700;
    }

    .testi p {
        margin: 25px 0 30px 0;
    }

    .item {
        padding: 46px 56px 40px 56px;
        width: 619px;
        height: 250px;
        background-color: #f1f3ff;
        border-radius: 10px;
    }

    .item p {
        margin: 10px 0px 10px 0px;
        font-size: 14px;
        text-align: left;
        align-items: center;
    }

    .item h6 {
        font-weight: 600;
        font-size: 14px;
        text-align: left;
    }

    .item img {
        max-width: 80px;
    }

    .item .col-md-3 {
        margin-top: 30px;
    }

    .owl-dots {
        display: none;
    }

    .owl-nav>button.owl-prev {
        background-color: white !important;
    }

    .owl-nav>button.owl-next {
        background-color: white !important;
    }

    .owl-nav>button.owl-prev>span {
        background-image: url(images/left_button.svg);
        display: block;
        width: 32px;
        height: 32px;
        color: transparent;
        margin: 10px 10px 20px 20px;
    }

    .owl-nav>button.owl-next>span {
        background-image: url(images/right_button.svg);
        display: block;
        width: 32px;
        height: 32px;
        color: transparent;
        margin: 10px 20px 20px 10px;
    }

    @media only screen and (max-width: 360px) {
        .testi {
            margin-top: 60px;
            margin-left: 0;
        }

        .testi .text {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .testi .text p {
            max-width: 80%;
        }

        .item {
            width: 320px;
            padding: 5px 40px;
            margin: 0px 20px;
            height: 350px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .item .col-md-3 {
            margin-top: 0;
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }

        .item .col-md-9 img {
            margin-left: 80px;
        }
    }

    /*BAG 5*/
    .register {
        text-align: center;
        background-color: #0d28a6;
        color: white;
        border-radius: 20px;
        padding: 70px 50px 80px 20px;
        margin: 90px 140px;
    }

    .register h2 {
        font-size: 38px;
    }

    .register p {
        margin: 40px 360px;
        font-size: 14px;
        font-weight: 300;
    }

    .register button {
        background-color: #5cb85f;
        font-size: 14px;
        padding: 10px 15px;
        border-radius: 4px;
        text-decoration: none;
        margin-left: 20px;
        color: white;
        border: none;
        font-weight: 500;
    }

    @media only screen and (max-width: 360px) {
        .register {
            margin: 50px 20px;
            padding: 70px 50px;
        }

        .register h2 {
            font-size: 28px;
        }

        .register p {
            margin: 40px 0px;
            font-size: 14px;
            font-weight: 300;
        }

        .register button {
            margin-left: 0;
        }
    }

    /*BAG 6*/
    .FAQ {
        margin: 90px 130px;
    }

    .FAQ h2 {
        font-size: 24px;
        font-weight: 700;
    }

    .FAQ p {
        font-size: 14px;
        font-weight: 300;
    }

    .accordion .accordion-item {
        font-size: 14px;
        border: 1px solid #D4D4D4 !important;
    }

    @media only screen and (max-width: 360px) {
        .FAQ {
            margin: 20px 10px 30px 10px;
        }

        .accordion .accordion-item {
            font-size: 12px;
            border: 1px solid #D4D4D4 !important;
        }
    }

    /*BAG 7*/
    .footer {
        margin-left: 70px;
        margin-top: 80px;
        margin-bottom: 100px;
        background-color: #ffff;
    }

    .footer p {
        font-size: 14px;
        font-weight: 450;
    }

    .footer h6 {
        line-height: 1.5;
    }

    .footer img {
        padding-right: 10px;
    }

    @media only screen and (max-width: 360px) {
        .footer {
            margin: 50px 10px 70px 10px;
        }
        .footer .col-md-3 img {
            padding-bottom: 15px;
        }
    }}